---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ title } | Diary For Me !!</title>
    <meta name="twitter:site" content="@yappi_chmod_777" />
    <meta name="twitter:creator" content="@yappi_chmod_777" />
    <meta name="twitter:domain" content="https://diary.yappi.jp" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta name="og:site_name" content={title} />
    <meta name="og:url" content="https://diary.yappi.jp" />
    <meta name="og:description" content={description} />
    <meta name="theme-color" content="#f8f8f8" />
</head>
<body>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list__item">
                <a class="nav__list__item__link" href="/">トップページ</a>
            </li>
        </ul>
    </nav>
    
    <main>
        <slot />
    </main>
</body>
</html>

<style lang="scss">
    body {
        margin: 0;
    }

    main,
    .nav {
        width: 80%;
        margin: 0 auto;
    }

    .nav {
        display: flex;
        height: 5rem;
        align-items: center;
        
        &__list {
            list-style: none;

            &__item {
                &__link {
                    display: inline-block;
                    background-color: #f8f8f8;
                    border-radius: .4rem;
                    box-shadow: 0 .4rem #E4E4E4;
                    color: #6C7275;
                    font-weight: bold;                    
                    padding: 1rem 2rem;
                    text-decoration: none;
                    transition: .3s;
                    transform: translateY(0);

                    &:hover {
                        transform: translateY(0.3rem);
                        box-shadow: 0 .1rem #E4E4E4;
                    }
                }
            }
        }
    }
</style>